.card {
  background-color: $color-bg-main;
  width: 290px;
}

.card__heading {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 220px;
  text-decoration: none;

  @include text-style(18px, 22px, $color-text-accent);

  &:hover,
  &:focus {
    color: lighten($color-text-accent, 20%);

    &::after {
      @include svg-triangle(lighten($color-text-accent, 20%));
    }
  }

  &::after {
    content: "";
    right: -15px;
    top: 0;
    display: inline-block;
    position: relative;
    width: 5px;
    height: 8px;

    @include svg-triangle($color-text-accent);
  }
}

.card__destination {
  margin: 0;
  @include text-style(14px, 24px, $color-text-main, 400, $font-stack-accent);

  &--accent {
    font-weight: 700;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  margin-right: 10px;

  & a {
    text-decoration: none;
  }
}

// TODO Вынести цену в отдельный блок, повесить на ссылку
// TODO Накидать свечение на кнопку при ховере

.card__image {
  height: 228px;
  background-size: 290px 228px;
  background-repeat: no-repeat;
  position: relative;

  &--anapa {
    background-image: url("../img/1-anapa.webp");
    background-image: url("../img/1-anapa.jpg");
  }

  &--sochi {
    background-image: url("../img/2-sochi.webp");
    background-image: url("../img/2-sochi.jpg");
  }

  &--gelendzhik {
    background-image: url("../img/3-gelendzhik.webp");
    background-image: url("../img/3-gelendzhik.jpg");
  }

  &--novorossiysk {
    background-image: url("../img/4-novorossiysk.webp");
    background-image: url("../img/4-novorossiysk.jpg");
  }

  &:hover .card__tag {
    @include svg-tag(darken($color-tag-main, 5%));
  }

  &:hover .card__tag--accent {
    @include svg-tag(darken($color-tag-accent, 10%));
  }
}

.card__tag {
  margin: 0;
  width: 89px;
  height: 101px;
  background-repeat: no-repeat;
  position: absolute;
  top: -7px;
  right: 23px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  @include text-style(
    14px,
    18px,
    $color-text-contrast,
    400,
    $font-stack-accent
  );
  @include svg-tag($color-tag-main);

  &--accent {
    @include svg-tag($color-tag-accent);
  }
}
