.catalog {
  background-color: $color-bg-contrast;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__heading {
  margin: 0;
  position: relative;

  @include text-style(20px, 48px);

  &::before {
    content: "";
    position: absolute;
    width: 130px;
    height: 240px;
    background-image: url("../img/dots.webp");
    background-image: url("../img/dots.png");
  }
}

.catalog__sort {
  margin: 0;

  @include text-style(14px, 24px, $color-text-main, 400, $font-stack-accent);

  &--accent {
    font-style: italic;
  }
}

.catalog__button {
  margin-top: 20px;
  margin-bottom: 31px;
}
