.catalog {
  background-color: $color-bg-contrast;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.catalog__heading {
  margin: 0;
  position: relative;

  @include text-style(20px, 40px);

  &::before {
    content: "";
    position: absolute;
    width: 130px;
    height: 240px;
    top: -240px;
    left: calc(50% - 150px / 2);
    background-image: url("../img/dots.png");
  }
}

.catalog__sort {
  margin: 0;
  margin-bottom: 32px;
  margin-top: -7px;

  @include text-style(14px, 24px, $color-text-main, 400, $font-stack-accent);

  &--accent {
    font-style: italic;

    &::after {
      content: "";
      right: -7px;
      top: 0;
      display: inline-block;
      position: relative;
      width: 5px;
      height: 8px;
      transform: rotate(90deg);

      @include svg-triangle($color-text-main);
    }
  }
}

.catalog__button {
  margin-top: 20px;
  margin-bottom: 31px;

  &::after {
    content: "";
    right: -15px;
    top: 0;
    display: inline-block;
    position: relative;
    width: 5px;
    height: 8px;
    transform: rotate(90deg);

    @include svg-triangle($color-text-contrast);
  }
}

@media (min-width: $width-tablet) {
  .catalog {
    padding-top: 50px;
  }

  .catalog__heading {
    font-size: 26px;
    line-height: 48px;

    &::before {
      top: -250px;
    }
  }

  .catalog__button {
    margin-top: 25px;
    margin-bottom: 62px;
  }
}

@media (min-width: $width-desktop) {
  .catalog {
    padding-top: 105px;
  }

  .catalog__heading {
    font-size: 36px;
    margin-bottom: 5px;

    &::before {
      top: -305px;
      width: 163px;
      height: 300px;
      left: calc(50% - 180px / 2);
      background-image: url("../img/dots-dsk.png");
    }
  }

  .catalog__sort {
    margin-top: 0;
    margin-bottom: 36px;
  }
}
