.feed {
  @include reset-list;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 20px;
}

.feed__item {
  &--last {
    display: none;
  }
}

@media (min-width: $width-tablet) {
  .feed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px 30px;
  }

  .feed__item {
    margin-bottom: 0;
  }
}

@media (min-width: $width-desktop) {
  .feed {
    grid-gap: 20px 30px;
  }

  .feed__item {
    &--big {
      grid-row: auto / span 2;
    }

    &--last {
      display: list-item;
    }
  }
}
