.footer {
  padding-top: 25px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-stack-accent;
  color: $color-text-main;
}

.footer__tagline {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.footer__tel {
  margin-top: 15px;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.footer__navigation {
  display: none;
}

.footer__copyright-wrap {
  display: flex;
  flex-direction: column;
}

.footer__social-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $width-tablet) {
  .footer {
    flex-direction: row;
    width: $wrap-width-tablet;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 37px;
  }

  .footer__navigation {
    display: flex;
    flex-direction: column;

    @include reset-list;
  }

  .footer__navigation-item {
    @include text-style(14px, 24px, $color-text-main, 400, $font-stack-accent);
  }

  .footer__navigation-link {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .footer__tel {
    margin-top: 0;
  }

  .footer__social-wrap {
    align-items: flex-start;
    margin-left: 86px;
  }

  .footer__copyright {
    margin-top: -5px;
  }

  .footer__copyright-wrap {
    margin-left: auto;
  }

  .footer__tagline {
    margin-bottom: 5px;
  }
}

@media (min-width: $width-desktop) {
  .footer {
    width: $wrap-width-desktop;
  }

  .footer__social-wrap {
    margin-left: 160px;
  }
}
