.intro {
  background-color: #c8e2fd;
  background-image: url("../img/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 583px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__heading {
  @include text-style(20px, 48px);
  text-align: center;
  width: 250px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  &--accent {
    text-transform: uppercase;

    @include text-style(50px, 36px);
  }
}

.intro__logo {
  margin-top: 25px;
}
