$font-stack-default: "Roboto Slab", TimesNewRoman, "Times New Roman", serif;
$font-stack-accent: "Raleway", Arial, sans-serif;

$color-tag-main: #f20542;
$color-tag-accent: #33c7fd;
$color-text-main: #0d3351;
$color-text-accent: #00a2dd;
$color-text-contrast: #ffffff;
$color-bg-main: #ffffff;
$color-bg-contrast: #f3f3f3;

$width-tablet: 760px;
$width-desktop: 1200px;
$width-semi-tab: 500px;

$wrap-width-tablet: 720px;
$wrap-width-desktop: 1140px;

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin text-style(
  $size,
  $line-height: 0,
  $color: $color-text-main,
  $font-weight: 400,
  $font-stack: $font-stack-default
) {
  font-family: $font-stack;
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}
